/*
===========================================================  Custom styles  ===========================================================|
		Greated By  : Maduna Tsebang
		Date		: 06 November 2025
		Purpose		: Custom Style Sheet{Css} for Portfolio website
		Modified    : 23 November 2025

/**********************************************************  MEDIA SIZES  *************************************************/

@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 20px;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }
}

/***************************************************************************************************************************/

/************************************************************  FONT SIZES  *************************************************/
.fs-l{
	font-size: 5rem;
}

.fs-m{
	font-size: 3rem;
}

/***************************************************************************************************************************/

/***********************************************************  LIGHT MODE  **************************************************/

body[data-bs-theme="light"] {
	background-color: #F8FAFC;
	color: #111827;
}

body[data-bs-theme="light"] .nav-link:hover {
	background: #1E293B;
	color: #F3F4F6;
	border-radius: 4px;
}

/***************************************************************************************************************************/

/***********************************************************  DARK MODE  ***************************************************/

body[data-bs-theme="dark"] {
	background-color: #0000ff;
	color: #ffffff;
}

body[data-bs-theme="dark"] .nav-link:hover {
	background: #b8ff66;
	color: #111827;
	border-radius: 4px;
}

body[data-bs-theme="dark"] .active {
	background: #b8ff66;
	color: #111827;
	border-radius: 4px;
}

body[data-bs-theme="dark"] .fa {
	color: #ffffff;
	margin: 2px;
	border-radius: 4px;
}

body[data-bs-theme="dark"] .fa:hover {
	color: #000000;
	margin: 2px;
	border-radius: 4px;
}

body[data-bs-theme="dark"] .cnt {
	background: #b8ff66;
	border-radius: 6px;
}

body[data-bs-theme="dark"] .btn-primary:hover {
	background: #b8ff66;
	color: #111827;
	border-radius: 4px;
	font-size:1.5rem;
}

/***************************************************************************************************************************/

/*********************************************  Pop ups  ***************************************************/

.modal-d**************ialog {
  max-width: 800px;
}

.modal-content {
  background-color: #fffaf0;
}

/***************************************************************************************************************************/

/*********************************************  list items  ***************************************************/

.no-dots {
  list-style-type: none;
  padding-left: 0;
}

/***************************************************************************************************************************/

body {
	padding-top: 70px;
	background-color: #f8f9fa;
	border-radius: 6px;
}

 .card {
	border-radius: 12px;
}

.btn-primary {
	background: #1e1e1e;
	border: none;
}

.accordion-button {
  background-color: white !important;
  color: black !important;
  box-shadow: none !important; 
}

.accordion-button::after {
  transition: transform 0.2s ease;
  transform: rotate(0deg); 
}

.accordion-button.collapsed::after {
  transform: rotate(-90deg);
}




